
*{
  margin: 0;
  padding: 0;
}

body{
  font-family: Arial, Helvetica, sans-serif !important;

}


.orange-border {
  border: 2px solid #f0906a;
}

nav{
  border-bottom: 2px solid #d2d2d2ba;
  padding: 20px !important;
  margin-bottom: 50px !important;
}
.help{
  border: none !important;
  background-color: white !important;
}


.menu a img{
  width: 10%;
}
.fa-circle-question{
  color: #f94706;
  font-size: 20px;
}
.main{
  color: #203d6b;
  font-size: 20px;
  font-weight: bold;

}
.card1{
  border: none;
  background-color: white;
  height: 379px;
  width: 350px;
}
.banner{
 cursor: auto !important;
 border: none !important;
 padding: 59px ;
}
.h-pic img{
  margin-top: -84px;
  display: flex;
  float: right;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 2px solid #203d6b;
}
.f-pic{
 margin-left: 250px;
}
.f-pic img{
  width: 16%;
}
.f-pic span{
  font-weight: bold;
  color: #203d6b;
}
.hamden{

}
.banner h1{
  font-weight: bold;
  color: #203d6b;
}
.banner p{
  color: #585b5f;
}

.fa-check{
  color: green !important;
}
.title{
  border-bottom: 1px solid rgb(143, 142, 142);
  padding-bottom: 10px;
}
.title h1{
  font-weight: bold;
}
.title span{
  font-size: 16px !important;
  color: rgb(147, 149, 150);
}
.top-btn{
  padding: 15px 22px;
  border: 0.5px solid #adaaaa;
  border-radius: 5%;
  margin-right: 30px;
  background-color: white;
  box-shadow: rgba(16, 66, 215, 0.16) 0px 1px 4px;
}
.active{
  border: 2px solid #6a73f0;
  border-radius: 5%;
}

.card-active{
  border: 2px solid #f0906a;
  border-radius: 9px;
  height: 380px;
  width: 354px;
}
.top-btn2{
    background-color: #f0906a;
    color: white;
    font-weight: bold;
    border: none !important;
    transition: all 0.3s ease;
}
.top-btn2:hover{
    background-color: rgb(79, 79, 229);
    border: none !important;
}
.bg {
    background-color: #f0906a !important;
}  
.sm-title{
  padding-top: 29px;
}
.f-btn{
  color: #f0906a;
  border: none !important;
  background-color: white;
}
.f-btn i{
  margin-right: 10px;
}
.icon i {
  display: inline-block;
  border-radius: 60px;
  padding: 0.5em 0.6em;
  background-color: rgba(179, 246, 179, 0.83);
  color:rgba(89, 117, 89, 0.83);
  font-size: 22px;
  border-radius: 50%;
  margin-top: 10px;
}
.btn{
  width: 50% !important;
}
.btn-secondary{
  background-color: white !important;
  color: black !important;
  border: 1px solid #adaaaa !important;
}
.modal-title {
  margin-left: 155px !important;
}
.modal-body p{
  color: #848484ba;
}
.modal-footer {
  justify-content: center !important;
  flex-wrap: nowrap !important;
}
.link{
  margin: 50px 0px;
}
.link a{
  text-decoration: none;
  color: rgb(125, 125, 125);
  margin-right: 50px;
}
.link p{
  color: rgb(125, 125, 125);
  font-size: 14px;
}


/* Tablet :768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .f-pic {
    margin-left: 70px;
  }
}
@media (max-width: 479px) {
  .card1{
    height: 366px;
    padding-bottom: 50px;
    margin-bottom: 50px;
    justify-content: center;
  }
  .f-pic {
    margin-left: 0px;
  }
  .menu a img{
    width: 50%;
  }
  .topbtn{
    display: flex;
    justify-content: space-between;
  }
  .top-btn{
    margin-right: 10px;
    padding: 5px 12px;
    font-size: 16px;
  }
  .link{
    flex-wrap: wrap;
  }
  .link a{
    margin: 0 auto !important;
  }
}