
style.css
*{
  margin: 0;
  padding: 0;
}

body{
  font-family: Arial, Helvetica, sans-serif !important;

}

nav{
  background-color: #203d6b !important;
}
.menu a img{
  width: 10%;
}
.banner{
 cursor: auto !important;
 border: 2px solid #f0906a !important;

}
.banner h1{
  font-weight: bold;
  color: #203d6b;
}
.banner p{
  color: #585b5f;
}
.card{
  cursor: pointer;
}
.card-body{
  padding: 30px !important;
}
.card img{
  width: 50%;
}
.title{
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}
.title span{
  font-size: 16px !important;
  color: rgb(147, 149, 150);
}
.top-btn{
  border: 1px solid #f0906a !important;
  padding: 15px 22px;
  border-radius: 10px;
  margin-right: 30px;
  background-color: transparent;
  transition: .3s ease;
}
.top-btn:hover{
  background-color: #f0906a;
  color: white;
}
 .top-btn2{
    background-color: #f0906a;
    color: white;
    font-weight: bold;
    border: none !important;
  }
  .top-btn2:hover{
    background-color: rgb(79, 79, 229);
    border: none !important;
  }
.bg {
    background-color: #f0906a !important;
}  
.sm-title{
  padding-top: 29px;
}

.link{
  margin: 50px 0px;
}
.link a{
  text-decoration: none;
  color: rgb(125, 125, 125);
  margin-right: 50px;
}
.link p{
  color: rgb(125, 125, 125);
  font-size: 14px;
}
@media (max-width: 525.98px) {
  .menu a img{
    width: 50%;
  }
  .topbtn{
    display: flex;
    justify-content: space-between;
  }
  .top-btn{
    margin-right: 10px;
    padding: 10px 18px;
    font-size: 16px;
  }
}